#
####### requirements.txt for DataHandling #######
#
###### Requirements without Version Specifiers ######
numpy
scipy
matplotlib
seaborn
qplots>=0.4
uncertainties
pytest
pytest-cov
pytest-mpl
numpydoc
sphinx_rtd_theme
numba
llvmlite
#
